[Desktop Entry]
Type=Application
Name=tesktop2
Comment=Experimental unofficial native Discord client
Exec=tesktop2
Icon=tesktop2
StartupWMClass=cz.viceverse.tesktop2
Terminal=false
Categories=Network;InstantMessaging;
